In [1]:
# Basic Python package
import pandas as pd
import numpy as np

In [7]:
#importing the required file
train_file_path = r'F:\moVies\Springboard\data\ghc_train.tsv'
test_file_path = r'F:\moVies\Springboard\data\ghc_test.tsv'
train_df = pd.read_csv(train_file_path, sep='\t')
test_df = pd.read_csv(test_file_path, sep='\t')

In [8]:
#To know are the columns in our dataset
train_df.columns

Index(['text', 'hd', 'cv', 'vo'], dtype='object')

In [9]:
#Top 10 rows in our dataset
train_df.head(10)

                                                text  hd  cv  vo
0  He most likely converted to islam due to his n...   0   0   0
1  So Ford lied about being a psychologist. Recor...   0   0   0
2     Jobs. Education. Ending abuse of Nation. CA43.   0   0   0
3  I share a lot of your values, & like many who ...   0   0   0
4  I am so ready to get back to blogging! www.ben...   0   0   0
5  taking a look at new opportunity called FX Pro...   0   0   0
6  Reflecting back when I was in school with Spec...   0   0   0
7  Let's be honest everyone, last year there were...   0   0   0
8                          2007 Nuke plant in Syria    0   0   0
9  NBC's Chuck Todd Thinks He's Figured It All Ou...   0   0   0

In [10]:
#Bottom 10 rows in our dataset
train_df.tail(10)

                                                    text  hd  cv  vo
22026                         What does Gab-Pro give ya?   0   0   0
22027  #354 TRUMP POLLS VS MEDIA MELTDOWN! | Jordan P...   0   0   0
22028  The Founders never EVER dealt with a group tha...   0   0   0
22029  Man [homosexually] molests 15-year-old boy on ...   0   0   0
22030  So I saw #Skyscraper for you #GabFam. Now I ha...   0   0   0
22031  I'm a fan of western civilization, and one bed...   0   0   0
22032  Or ... is she saying that Muslims don't know h...   0   0   0
22033  Thank you to all my followers that follow me e...   0   0   0
22034  Wednesday music. https://www.youtube.com/watch...   0   0   0
22035  This is a really Big Surprise!  https://www.wn...   0   0   0

In [11]:
#Describe function to find total count,etc
train_df.describe()

                 hd            cv            vo
count  22036.000000  22036.000000  22036.000000
mean       0.084271      0.005945      0.062579
std        0.277800      0.076875      0.242210
min        0.000000      0.000000      0.000000
25%        0.000000      0.000000      0.000000
50%        0.000000      0.000000      0.000000
75%        0.000000      0.000000      0.000000
max        1.000000      1.000000      1.000000

In [12]:
#how many nulls 
print(train_df.isnull().sum())

text    0
hd      0
cv      0
vo      0
dtype: int64

In [15]:
# Remove rows with any null values
train_df_cleaned = train_df.dropna()
#in our case as inferred from output on line 12 there aren't any null values

In [17]:
#how does the data look like
print(train_df.shape)#total rows x column count 
print("\n")
print(train_df.dtypes)# each column data type

(22036, 4)


text    object
hd       int64
cv       int64
vo       int64
dtype: object

In [18]:
#info gives count and datatype of it
train_df.info()
print('_'*40)
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22036 entries, 0 to 22035
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    22036 non-null  object
 1   hd      22036 non-null  int64
 2   cv      22036 non-null  int64
 3   vo      22036 non-null  int64
dtypes: int64(3), object(1)
memory usage: 688.8+ KB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5510 entries, 0 to 5509
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   text    5510 non-null   object
 1   hd      5510 non-null   int64
 2   cv      5510 non-null   int64
 3   vo      5510 non-null   int64
dtypes: int64(3), object(1)
memory usage: 172.3+ KB